*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;

}
body{
    width:100%;
    min-height: 100vh;
    background: #f8f8f8;

}
header{
    height: 60px;
    width: 100%;
    background: rgb(112, 110, 110);
    color: rgb(253, 250, 248);
    display: flex;
    align-items: center;
}
.container{
    width: 90%;
    margin: 0auto;
    display: flex;
    align-items: center;
    justify-content: space-between
}
nav ul li{
    list-style: none;
    display: inline;
    margin-right: 20px;
}
.logo{
    font-size: 24px;
}
.hero{
    width: 100%;
    height: 400px;
    background-image: url(food\ img\ 1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color:rgb(249, 249, 246);
    border: black;
    text-align: center;
    padding: 140px 0;
}
.hero h2{
    font-size: 36px;
    margin-bottom: 10px;
}
.hero p{
    font-size: 20px;
    margin-bottom: 10px;
}
.search-box{
    max-width: 550px;
    margin: 15px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.search-box input{
    width: 70%;
    padding: 10px;
    outline: none;
    border: 0;
    border-radius: 5px 0 0 5px;
    font-size: 1rem;
    border: 1px solid red;
}
.search-box button{
    
    padding: 10px 20px;
    outline: none;
    border: 0;
    border-radius: 5px 0 0 5px;
    font-size: 1rem;
    background: rgb(249, 67, 67);
    color: beige;
    cursor: pointer;
}
