.loader{
    
    border-radius: 50%;
    height: 100px;
    width: 100px;
    border: 1px solid  #F0F1C5;
    border-top: 10px solid #BF9264;
    animation: spineAnimate 1s linear  0s infinite normal;
}
@keyframes spineAnimate {
    from{transform: rotate(0deg);}
    to{transform: rotate(360deg);}
}